
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div>
        @*<img id="canvas" src="~/Content/canvas-3001165_640.jpg" alt="Canvas" />*@
        <h1 id="title">Welcome to Mamidi Movies!</h1>
    </div>
</div>
<hr />
<footer>
    <p>
        <b>@Html.ActionLink("Go to Login Page", "Login", "Login")</b>
    </p>
</footer>

